@import url("https://fonts.googleapis.com/css2?family=Karma&family=Prompt:wght@200&display=swap");
body {
  background-color: #8ca376;
  color: #f1f7eb;
}

h2 {
  letter-spacing: 5px;
  font-family: "Karma", serif;
}

h4 {
  color: #525cd1;
  font-family: "Karma", serif;
}

p {
  font-family: "Prompt", sans-serif;
}

a {
  color: #E59C5E;
}

.navbar-default {
  background-color: #f0eaa5;
}

.btn.default.active {
  background-color: #8ca376;
}
